

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

ul, ol {
    color: rgb(19, 37, 175);
    margin-left: 20px;
}

p {
    color: rgb(22, 175, 19);
    font-size: 18px;
    line-height: 1.6;
}